.child {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;

  transition: all 2500ms;
  opacity: 1;
  transform: translate(0px, 0px)
}

.appear, .enter {
  opacity: 0;
  transform: translate(500px, 300px)
}

.appear-active, .enter-active {
  opacity: 1;
  transform: translate(0px, 0px)
}

.leave {
  opacity: 1;
  transform: translate(0px, 0px)
}
.leave-active {
  opacity: 0;
  transform: translate(-500px, -300px)
}

.fast-appear, .fast-enter, .fast-appear-active, .fast-enter-active, .fast-leave, .fast-leave-active {
  transition: all 300ms;
}