.child {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;

  transition: all 500ms;
  opacity: 1;
  transform: translate(0px, 0px)
}

.appear, .enter {
  opacity: 0;
  transform: translate(500px, 300px)
}

.appear-active, .enter-active {
  opacity: 1;
  transform: translate(0px, 0px)
}

.leave {
  opacity: 1;
  transform: translate(0px, 0px)
}
.leave-active {
  opacity: 0;
  transform: translate(-500px, -300px)
}


.horizontal-APPEAR, .horizontal-ENTER {
  opacity: 0;
  transform: translate(500px)
}

.horizontal-APPEAR-active, .horizontal-ENTER-active {
  opacity: 1;
  transform: translate(0px, 0px)
}

.horizontal-LEAVE {
  opacity: 1;
  transform: translate(0px, 0px)
}
.horizontal-LEAVE-active {
  opacity: 0;
  transform: translate(-500px)
}